extends master.pug

block pageLevelCss
    link(rel='stylesheet', href='/css/home.css')

block content
    .row.home-posts
        .col-md-12.single-post
            h3.title Post title
            div.description Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor..
            div.post-basic-info
                div.at-time 2021-07-22 08.00 PM
                div.post-by-user
                    strong Pranav Ghodake
    .row.home-posts
        .col-md-12.single-post
            h3.title Post title
            div.description Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor..
            div.post-basic-info
                div.at-time 2021-07-22 08.00 PM
                div.post-by-user
                    strong Pranav Ghodake
    .row.home-posts
        .col-md-12.single-post
            h3.title Post title
            div.description Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor..
            div.post-basic-info
                div.at-time 2021-07-22 08.00 PM
                div.post-by-user
                    strong Pranav Ghodake
