extends master.pug

block content
  form
    .mb-3
      label.form-label(for='email') Email address
      input#email.form-control(type='email' aria-describedby='emailHelp')
    .mb-3
      label.form-label(for='password') Password
      input#password.form-control(type='password')
    button.btn.btn-primary(type='submit') Submit

